.box-main{
    margin: 20px auto 50px;
}


.box-management{
    margin: 40px 0;
}

#management-product,
#list-product{
    background-color: white;
}

.form-management{

}

.form-management label,
.form-management textarea{
    width: 90%;
}

.form-management select{
    width: 140px;
}

a:hover{
    text-decoration: none;
}

.box-btn{
    margin: 20px 0;
}