<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head></head>

<body>
<div th:fragment="footer">
<footer >
        <div class="footer-top"></div>
        <div class="footer-middle row w-100">
            <div class="shop-location info-footer col-sm-4 col-lg-6">
                <a th:href="@{/msm.com}"><img src="/assets/img/logo-footer.webp" alt="Logo"></a>
                <p style="font-weight: bold;">MSM - Điện Thoại Siêu Rẻ, Trao Trọn Yên Tâm.</p>

                <p><i class="fa-solid fa-location-dot"></i> Địa chỉ: 170 Lạch Tray, Ngô Quyền, Hải Phòng</p>

                <p><i class="fa-solid fa-phone"></i>
                    Số điện thoại: <a href="#" class="hover-none">0225.652.6789</a> </p>

                <p><i class="fa-solid fa-envelope"></i> Email: <a href="#" class="hover-none">kinhdoanh@msm.vn</a> </p>
                <img width="22%" src="/assets/img/logo_bct.webp" alt=""></li>

            </div>
            <div class="col-sm-4 col-lg-6 info-footer">
                <p style="font-weight: bold; font-size: 16px;">Liên kết nhanh</p>
                <p><a href="#" class="hover-none">Trả góp Online</a></p>
                <p><a href="#" class="hover-none">Tra cứu bảo hành</a></p>
                <p><a href="#" class="hover-none">So sánh sản phẩm</a></p>
                <p><a href="#" class="hover-none">Giới thiệu</a></p>
                <p><a href="#" class="hover-none">Hệ thống cửa hàng</a></p>
            </div>
            <div class="col-sm-4 col-lg-6 info-footer">
                <p style="font-weight: bold; font-size: 16px;">Chính sách</p>
                <p><a href="#" class="hover-none">Chính sách chung</a></p>
                <p><a href="#" class="hover-none">Chính sách bảo hành</a></p>
                <p><a href="#" class="hover-none">Chính sách bảo mật</a></p>
                <p><a href="#" class="hover-none">Chính sách đổi trả</a></p>
                <p><a href="#" class="hover-none">Chính sách thanh toán</a></p>
            </div>
            <div class="col-sm-4 col-lg-6">
                <p style="font-weight: bold; font-size: 16px;">Tổng đài hỗ trợ</p>
                <p><i class="fa-solid fa-envelope"></i> Gọi mua hàng: <a href="#" class="hover-none">0225.652.6789 </a>
                    (8h30-21h)</p>
                <p><i class="fa-solid fa-envelope"></i> Gọi bảo hành: <a href="#" class="hover-none">0225.678.4352 </a>
                    (8h30-21h)</p>
                <p><i class="fa-solid fa-envelope"></i> Gọi khiếu nại: <a href="#" class="hover-none">0773.452.7654 </a>
                    (8h30-21h)</p>
                <p style="font-weight: bold; font-size: 16px;">Phương thức thanh toán</p>
                <img src="/assets/img/tt1.webp" alt="">
                <p style="font-weight: bold; font-size: 16px;">Phương thức vận chuyển</p>
                <img src="/assets/img/vc.webp" alt="">
            </div>
            <div style="text-align: center;" class="w-100">
            </div>
        </div>
        <div class="footer-bottom">
            <p style="margin: 20px;"><i class="fa-regular fa-copyright"></i> Bản quyền thuộc về <a class="hover-none"
                    href="#"> MSM.VN </a>| Cung cấp bởi <a href="#" class="hover-none"> MSM Marketing Team</a></p>

        </div>
    </footer>
</div>
</body>
</html>